/*** Header Styling ***/

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #262627;
}

.nav-link{
    color: #262627;
}

.container {
    border-bottom-color: #262627;
    border-bottom-width: 50px;
}

body {
    background-color: #fafaf8;
}


/* *** */



.career-container {
    display:grid;
    grid-template-columns: 10% 10% 70% 10%;
    width: 70%;
    padding-left: 30%;
    padding-top: 2%;
}

img {
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 10%;
    margin-right: 59%;
    height: 50px;
    /* border: 5px solid saddlebrown; */
    border-radius: 10px !important;
    display: block;
}

.career-item {

}

.description-container {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.careers-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px
}

.career-card {
    display:grid;
    /* padding-bottom: 6%; */
    grid-template-columns: 10% 90%;
    width: 80%;
    /* padding-left: 20%; */
    /* padding-top: 2%; */
    /* height: 12vh; */
    
    
}

.company-card {
    display: grid;
    grid-template-columns: 10% 70% 20%;
    background-color: #dfdfdf7d;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.title-item {
    /* font-family: "Libre Baskerville", serif; */
    font-weight: bold;
    color: black;
}

.explanation-item {
    font-size: 0.9rem;
    color: #383839;
    font-weight: 600;
}

.skills-item {
    padding-bottom: 5px;
    color: #8888f7;
}

.location-item {
    font-size: 0.85rem;
    font-weight: 400;
}

@media (max-width: 1000px) {

    .career-container {
        display:grid;
        grid-template-columns: 10% 10% 70% 10%;
        width: 70%;
        padding-left: 30%;
        padding-top: 2%;
    }

    img {
        margin-top: 20%;
        margin-bottom: 20%;
        margin-left: 10%;
        margin-right: 60px;
        height: 50px;
        /* border: 5px solid saddlebrown; */
        border-radius: 10px !important;
        display: block;
    }

    .career-item {

    }

    .description-container {
        padding-left: 17px;
        display: flex;
        flex-direction: column;
        gap: 5px
    }

    .careers-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 60px
    }

    .career-card {
        display:grid;
        padding-bottom: 12%;
        grid-template-columns: 10% 90%;
        width: 97%;
        padding-left: 2.5%;
        /* padding-right: 20%; */
        padding-top: 4%;
        height: 12vh;
        margin-bottom: 80px; 
    }

    .company-card {
        display: grid;
        grid-template-columns: 10% 70% 20%;
        background-color: #dfdfdf7d;
        border-radius: 5px;
    }

    .title-item {
        /* font-family: "Libre Baskerville", serif; */
        font-size: 2rem;
        font-weight: bold;
        color: black;
    }

    .explanation-item {
        font-size: 1.7rem;
        color: #383839;
        font-weight: 600;
    }

    .skills-item {
        padding-bottom: 5px;
        color: #8888f7;
        font-size: 1.7rem;
    }

    .location-item {
        font-size: 1.7rem;
        font-weight: 400;
    }

    .add_30_for_mobile {
        margin-bottom: 40px;
    }

    .add_50_for_mobile {
        margin-bottom: 130px;
    }

    .date {
        font-weight: bold;
        font-size: 22px;
    }

    .badge {
        font-size: 22px;
    }

    .reduce-mb-for-mobile{
        margin-bottom: 5px;
    }


}