/*** Header Styling ***/

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #262627;
}

.nav-link{
    color: #262627;
}

.container {
    border-bottom-color: #262627;
    border-bottom-width: 50px;
}

/* *** */

img {
    height: 500px;
}

body {
    background-color: #fafaf8;
}


.book-container {
    width: 90%;
    padding-top: 50px;
    margin-left: 12%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap:10px
}

.description {
    text-align: center;
    font-size: 1.2rem;
    font-weight:350;
    color: #8c8c8d;
}


body {
font-family: "Libre Baskerville", serif;
background-color: #fafaf8;
color: #262627;
}

h1 {
        font-size: 1.9rem;
        font-weight: 700;
        letter-spacing: -0.02em;
        margin-bottom: 0.85rem;
}