/*** Header Styling ***/

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #262627;
}

.nav-link{
    color: #262627;
}

.container {
    border-bottom-color: #262627;
    border-bottom-width: 50px;
}

/* *** */

.image-of-me{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
}

.name {
    font-family: "Libre Baskerville", serif;
    padding-top: 1rem;
    font-size: 3rem;
    text-align: center;
}

.description {
    text-align: center;
    font-size: 1.5rem;
    font-weight:350;
    color: #8c8c8d;
}

button {
    border-radius: 10px;
    background-color: white;
    color:#6e6e6e
}

button > * {
    margin-right: 5px;
}



.container-links {
    display:flex;
    justify-content: center;
    gap: 20px;
}

.container-home-art {
    display:flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 50px;
}

.home-img > *{
    width: 200px;
    height: auto;
    border-color: #262627;
    border-width: 20px;
}

@media (max-width: 1000px) {
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: var(--bs-nav-pills-link-active-color);
        background-color: #262627;
        font-size: 2.5rem;
    }

    .nav-link{
        color: #262627;
        font-size: 2.5rem;
    }

    .container {
        border-bottom-color: #262627;
        border-bottom-width: 50px;
    }

    .image-of-me{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
        }

    .name {
        font-family: "Libre Baskerville", serif;
        padding-top: 1rem;
        font-size: 5rem;
        text-align: center;
    }

    .description {
        text-align: center;
        font-size: 4rem;
        font-weight: 190;
        color: #6c6c6c;
    }

    button {
        background-color: white;
        color:#6e6e6e;
        font-size: 50px;
    }

    button > * {
        margin-right: 5px;
        height: 50px;
    }

    .container-links {
        display:flex;
        justify-content: center;
        gap: 20px;
    }

    .container-home-art {
        display:flex;
        justify-content: center;
        gap: 20px;
        padding-bottom: 50px;
    }

    .home-img > *{
        width: 400px;
        height: auto;
        border-color: #262627;
        border-width: 20px;
        border-radius: 50px !important;
    }
}