/*** Header Styling ***/

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #262627;
}

body {
    background-color: #fafaf8;
}


.nav-link{
    color: #262627;
}

.container {
    border-bottom-color: #262627;
    border-bottom-width: 50px;
}

img {
    height: 500px;
    margin-left: 5%;
}



/* *** */

.slides-container {
    width: 90%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 1000px) 
{
    img {
        height: 450px;
    }
}

