/* Header Styling */

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #262627;
}

.nav-link{
    color: #262627;
}

.container {
    border-bottom-color: #262627;
    border-bottom-width: 50px;
    /* background-color: antiquewhite; */
}

.image-of-me{
    padding-top: 30px;
    border-radius: 50%;
    height: 200px;
    border-width: 15px;
    border-color: red;
}

.name {
    font-family: "Libre Baskerville", serif;
    padding-top: 1rem;
    font-size: 3rem;
    text-align: center;
}

.description {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 190;
    color: #8c8c8d;
}

button {
    border-radius: 10%;
    background-color: white;
}

button > * {
    margin-right: 5px;
}

button {
    color:#6e6e6e
}

.container-links {
    display:flex;
    justify-content: center;
    gap: 20px;
}

.container-home-art {
    display:flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 50px;
}

/* .container-home-art > * {
    width: 25%;
} */

.home-img > *{
    width: 200px;
    height: auto;
    border-color: #262627;
    border-width: 20px;
}